<p>dashboard works!</p>
<div>
    <router-outlet></router-outlet>
</div>
<div>
    <button class="logout" (click)="handlePrmoise()">Promise Page</button>

    <button class="logout" (click)="handlePaymentpage()">Payment</button>

    <button class="logout" (click)="handleObservable()">Observable Page</button>

    <button class="logout" (click)="handleNewComp()">Pipes Exercise</button>

    <button class="logout" (click)="handleUnitalculations()">unitcalculations</button>

    <button class="logout" (click)="handleForexCal()">Forex Calculations</button>

    <button class="logout" (click)="handleLogout()">Logout</button>
</div>